.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  width: 100%;

  ul {
    padding-left: 1em;
  }

  li {
    display: inline-block;
    margin-right: 2em;
  }

  a {
    border-bottom: 3px solid transparent;

    &:hover,
    &:focus {
      border-bottom-color: cyan;
    }
  }

  .active {
    border-bottom-color: hotpink;
  }
}
