.table {
  border: 1px solid black;
  width: calc(100% - 4em);
  border-collapse: collapse;
  margin: 2em;

  td,
  th {
    border: 1px solid black;
    text-align: center;
  }

  td {
    padding: 0 0.4rem;
  }
}
