html,
body {
  padding: 0;
  margin: 0;
  font-family: "Piazzolla", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 2em;
  border-radius: 0;
  border: 1px solid black;
}

button {
  border: 2px solid black;
  cursor: pointer;
  font-size: 200%;
  font-weight: bold;
  outline: none;

  &.active {
    border-color: green;
  }
}

.button-light,
.button-plug,
.button-music {
  padding: 3rem;
  margin-bottom: 2rem;
  width: 100%;
  text-transform: capitalize;

  background: green;
  color: white;

  &.active {
    background: red;
  }
}

.button-square {
  height: 150px;
  width: 150px;
  display: inline-block;
  margin-right: 1rem;
}

label {
  border: 1px solid black;

  &:hover,
  &:focus {
    cursor: pointer;
    background: grey;
    color: white;
  }
}

.input-music-room {
  &.active {
    background: green;
  }
}

.play-wrapper {
  padding: 1em;
  svg {
    path {
      transition: 300ms ease;
    }
  }
}

.playnext-button {
  margin-left: 2rem;
}

.mute-button {
  margin-left: 2rem;
  margin-right: 1rem;
}

[type="range"] {
}
