html,
body {
  padding: 0;
  margin: 0;
  font-family: "Piazzolla", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 2em;
  border-radius: 0;
  border: 1px solid black;
}

button {
  border: 2px solid black;
  cursor: pointer;
  padding: 3rem;
  margin-bottom: 2rem;
  width: 100%;
  text-transform: capitalize;
  font-size: 200%;
  font-weight: bold;
  outline: none;

  &.active {
    border-color: green;
  }
}

@media (min-width: 600px) {
}

.button-light,
.button-plug,
.button-music {
  background: green;
  color: white;

  &.active {
    background: red;
  }
}
