.container {
  padding: 0 0.5rem;
  min-height: 100vh;

  @media (min-width: 600px) {
    display: grid;
    grid-gap: 2em 1em;
    min-height: auto;
    grid-template-columns: repeat(2, 1fr);

    :global {
      select,
      button:nth-child(1) {
        grid-column: -1 / 1;
      }

      select,
      button {
        margin-bottom: 0;
      }
    }
  }
}

.pageTitle {
  padding: 0 0.5rem;
}
